body {
	background-image: url("/pexels-artem-podrez-7233131.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #5515cd;
	height: 100%;
	width: 100%;
    overflow: auto;
}

#chat {
  	max-height: calc(var(--vh, 1vh) * 55);
	overflow-y: scroll;
}

.nav_1 {
    background-color: #1A0C2B;
}
